
.mt-10{
  margin-top: 180px;
}

.login-card {
  background: linear-gradient(150deg, #ffffff 0%, #e3f0ff 100%);
  backdrop-filter: blur(8px);
  transition: all 0.3s ease-in-out;
}

.login-btn {
  background: #1a73e8 !important;
  border: none !important;
  transition: all .25s ease;
}

.login-btn:hover {
  background: #155cc2 !important;
  transform: translateY(-2px);
}
.password-icon {
  color: #155cc2;
  
  transition: color 0.55s ease-in-out;
}


.btn-outline-secondary:hover .password-icon {
  color: #c5d6f7;
  
}
.btn-outline-secondary{
  border-color: #c5d6f7;  
}
.btn-outline-secondary:hover {
  background-color: #0d6efd; 
  border-color: #0d6efd;     
  color: #c5d6f7;             
}

input.form-control {
  box-shadow: none !important;
  border: 1px solid #c9d8f4;
}

input.form-control:focus {
  border-color: #1a73e8;
  box-shadow: 0 0 5px rgba(26, 115, 232, 0.4) !important;
}

.login-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1) !important;
}
.login-title{
  font-size: 1.8rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
    color: #3a7bd5;
    background: linear-gradient(135deg, #3a7bd5 0%, #3a6073 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.welcome-heading {
    font-size: 2.8rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
    color: #3a7bd5;
    background: linear-gradient(135deg, #3a7bd5 0%, #3a6073 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    animation: fadeInWelcome 1.6s ease-out;
}

@keyframes fadeInWelcome {
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
